extends layout

block content
  h1= title
  p New change added here
  button(type="button", class="btn btn-secondary" onclick='doReduce()') Press Me
  div(id="reduce") Reduce the value
 
  script.
    //declare two variables
    let count = 20;
    let change = -1;  
    //function  
    function doReduce(){
      console.log("sdjbdb")
      count += change;
      change -= 1;
      document.getElementById("reduce").innerHTML = "Count: " + count + " " + "Change: " + change;
    }
